/* NAVBAR*/
body > nav.topNav {
  background-color: antiquewhite;
  padding: 32px;
  display: flex;
  flex-direction: row;
}

body > nav.topNav > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: red;
  width: 100%;
}

body > nav.topNav > ul > li {
  list-style: none;
  border-style: solid;
}

body > nav.topNav > ul > li > a {
  text-decoration: none;
}

body > nav > button.sign-in {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  width: 64px;
}

.navbar > .container-fluid {
  background-color: white;
}

.navbar-toggler {
  display: flex;
}

.a-section {
  display: flex;
  flex-direction: row;
  padding: 32px;
  align-items: center;
  column-gap: 32px;
}
.a-section .text-container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 50%;
}
.a-section .text-container h1 {
  line-height: 42px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: bold;
}
.a-section .text-container p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: normal;
}
.a-section .text-container button .btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px 16px 32px;
  width: fit-content;
  height: auto;
}
.a-section .text-container > .text-container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 50%;
}
.a-section .text-container > .text-container > h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: bold;
}
.a-section .text-container > .text-container > ul {
  padding: 0;
}
.a-section .text-container > .text-container > ul > li {
  list-style: none;
}
.a-section .text-container > .text-container > ul > li h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
}
.a-section .text-container > .text-container > ul > li p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: normal;
}
.a-section .img-container {
  width: 50%;
}
.a-section .img-container img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .a-section {
    flex-direction: column;
    row-gap: 1rem;
  }
}
.b-section {
  padding: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.b-section > h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.b-section > .three-items {
  display: flex;
  column-gap: 32px;
}
.b-section > .three-items > .item-one {
  padding: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: center;
}
.b-section > .three-items > .item-one > .img-container {
  width: 50%;
}
.b-section > .three-items > .item-one > .img-container > img {
  width: 100%;
  height: auto;
}
.b-section > .three-items > .item-one > .text-container {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: 100%;
  align-items: center;
}
.b-section > .three-items > .item-one > .text-container > h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
}
.b-section > .three-items > .item-one > .text-container > p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
}

.section-three {
  padding: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  background: #edede9;
}

.section-three > h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.section-three > .three-items {
  display: flex;
  column-gap: 32px;
  /* background: yellow; */
}

.section-three > .three-items > .item-one {
  padding: 32px;
  background: #fafafa;
  align-items: center;
  text-align: center;
  border-color: black;
  border-style: solid;
  border-radius: 8px;
  border-width: 1px;
}

.section-three > .three-items > .item-one > .text-container {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: 100%;
  align-items: center;
}

@media (max-width: 768px) {
  .three-items {
    flex-direction: column;
    row-gap: 1rem;
  }
}
footer {
  padding: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

footer > .footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 768px) {
  footer > .footer-links {
    flex-direction: column;
    row-gap: 1rem;
  }
}
footer > .footer-links > .link-container {
  row-gap: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

footer > .footer-links > .link-container > h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: normal;
}

footer > .footer-links > .link-container > .logo-footer {
  height: 24px;
}

footer > div.footer-links > div.link-container > ul {
  padding: 0;
}

footer > .footer-links > .link-container > ul > li {
  list-style: none;
}

footer > .footer-links > .link-container > ul > li > a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8 rem;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

footer > .footer-links > .link-container > div.img-container > img.logo-footer {
  object-fit: contain;
  width: 100%;
}

footer > .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

footer > .copyright > p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8 rem;
  font-weight: normal;
  text-align: center;
  margin: 0;
}

/* Subscription- Cards */
.main-text-box {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 32px;
  align-items: center;
  text-align: center;
}
.main-text-box > h1 {
  font-size: 32px;
}
.main-text-box > h2 {
  font-size: 24px;
}

.row p-6 {
  display: flex;
  column-gap: 12px;
  row-gap: 12px;
  padding: 32px;
  background-color: red;
}
.row p-6 > .col-xs-12 .col-col-md-6 .col-sxl-13 {
  padding: 32px;
  display: flex;
}
.row p-6 > .col-xs-12 .col-col-md-6 .col-sxl-13 > img .card-img-top {
  border-radius: 8px 8px 0px 0px;
}
.row p-6 > .col-xs-12 .col-col-md-6 .col-sxl-13 > .card-body {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  padding: 16px;
  border-radius: 0px 0px 8px 8px;
}
.row p-6 > .col-xs-12 .col-col-md-6 .col-sxl-13 > .card-body > .card-text {
  text-align: left;
}
.row p-6 > .col-xs-12 .col-col-md-6 .col-sxl-13 > .card-body > .card-text h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
}
.row p-6 > .col-xs-12 .col-col-md-6 .col-sxl-13 > .card-body > .card-text p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: normal;
}
.row p-6 > .col-xs-12 .col-col-md-6 .col-sxl-13 > .card-body > .btn {
  align-items: right;
  height: fit-content;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ABOUT US */
.carousel {
  padding: 2rem;
}

/*# sourceMappingURL=style.css.map */
