/* NAVBAR*/
body > nav.topNav {
  background-color: antiquewhite;
  padding: 32px;
  display: flex;
  flex-direction: row;
}

body > nav.topNav > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: red;
  width: 100%;
}

body > nav.topNav > ul > li {
  list-style: none;
  border-style: solid;
}

body > nav.topNav > ul > li > a {
  text-decoration: none;
}

body > nav > button.sign-in {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  width: 64px;
}

.navbar > .container-fluid {
  background-color: white;
}

.navbar-toggler {
  display: flex;
}

.a-section {
  display: flex;
  flex-direction: row;
  padding: 32px;
  align-items: center;
  column-gap: 32px;
}
.a-section .text-container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 50%;
}
.a-section .text-container h1 {
  line-height: 42px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: bold;
}
.a-section .text-container p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: normal;
}
.a-section .text-container .cta {
  background-color: #ccd5ae;
  color: #282828;
  border-color: #c1cc9d;
}
.a-section .text-container .cta:hover {
  background-color: #c1cc9d;
}
.a-section .text-container .cta:focus {
  background-color: #b7c48c;
  color: #282828;
  border-color: #c1cc9d;
}
.a-section .text-container > ul.text-container-list {
  padding: 0;
  list-style: none;
}
.a-section .text-container > ul.text-container-list > li h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
}
.a-section .text-container > ul.text-container-list > li p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: normal;
}
.a-section .img-container {
  width: 50%;
}
.a-section .img-container img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .a-section {
    flex-direction: column;
    row-gap: 1rem;
  }
  .a-section .text-container {
    width: 100%;
  }
  .a-section .img-container {
    width: 100%;
  }
}
.b-section > .three-items-vert {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  text-align: center;
}

.b-section {
  padding: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.b-section > h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.b-section > .three-items,
.b-section .three-items-vert {
  display: flex;
  column-gap: 32px;
  align-items: center;
}
.b-section > .three-items > .item-one,
.b-section .three-items-vert > .item-one {
  padding: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  flex: 1;
}
.b-section > .three-items > .item-one > .img-container > img,
.b-section .three-items-vert > .item-one > .img-container > img {
  width: 100%;
  height: auto;
}
.b-section > .three-items > .item-one > .text-container,
.b-section .three-items-vert > .item-one > .text-container {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.b-section > .three-items > .item-one > .text-container > h3,
.b-section .three-items-vert > .item-one > .text-container > h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
}
.b-section > .three-items > .item-one > .text-container > p,
.b-section .three-items-vert > .item-one > .text-container > p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
}

.c-section {
  padding: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  background-color: #f2f0ec;
}
.c-section > h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.c-section > .three-items {
  display: flex;
  column-gap: 32px;
}
.c-section > .three-items > .item-one {
  padding: 32px;
  background: white;
  text-align: center;
  border: 1px solid black;
  border-radius: 8px;
  flex: 1;
}

@media (max-width: 768px) {
  .three-items {
    flex-direction: column;
    row-gap: 1rem;
  }
}
footer {
  padding: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
footer > .footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer > .footer-links > .link-container {
  row-gap: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
footer > .footer-links > .link-container h3 {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: normal;
}
footer > .footer-links > .link-container > .logo-footer {
  height: 24px;
}
footer > .footer-links > .link-container > ul > li {
  list-style: none;
}
footer > .footer-links > .link-container > ul > li > a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  color: inherit;
}
footer > .footer-links > .link-container > div.img-container > img.logo-footer {
  object-fit: contain;
  width: 100%;
}
footer > div.footer-links > div.link-container > ul {
  padding: 0;
}
footer > .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
footer > .copyright > p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  font-weight: normal;
  text-align: center;
  margin: 0;
}

@media (max-width: 768px) {
  footer > .footer-links {
    flex-direction: column;
    row-gap: 1rem;
  }
}
/* Subscription- Cards */
.menu-title {
  background-color: #f2f0ec;
}

.menu-grid {
  display: flex;
  padding: 32px;
  background-color: #f2f0ec;
}
.menu-grid > .weekly-card,
.menu-grid .daily-card {
  padding: 12px;
  border-radius: 8px;
}
.menu-grid > .weekly-card .card-img-container > .card-menu-img,
.menu-grid .daily-card .card-img-container > .card-menu-img {
  border-radius: 8px 8px 0px 0px;
}
.menu-grid > .weekly-card > .card-body,
.menu-grid .daily-card > .card-body {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  padding: 32px 16px 16px;
  border-radius: 0px 0px 8px 8px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
.menu-grid > .weekly-card > .card-body > .card-text,
.menu-grid .daily-card > .card-body > .card-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  align-items: center;
}
.menu-grid > .weekly-card > .card-body > .card-text h5,
.menu-grid .daily-card > .card-body > .card-text h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
}
.menu-grid > .weekly-card > .card-body > .card-text p,
.menu-grid .daily-card > .card-body > .card-text p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: normal;
}
.menu-grid > .weekly-card > .card-body > .add-btn,
.menu-grid .daily-card > .card-body > .add-btn {
  background-color: #ccd5ae;
  color: #282828;
  border-color: #c1cc9d;
  align-self: flex-end;
  height: fit-content;
}
.menu-grid > .weekly-card > .card-body > .add-btn:hover,
.menu-grid .daily-card > .card-body > .add-btn:hover {
  background-color: #c1cc9d;
}
.menu-grid > .weekly-card > .card-body > .add-btn:focus,
.menu-grid .daily-card > .card-body > .add-btn:focus {
  background-color: #b7c48c;
  color: #282828;
  border-color: #c1cc9d;
}

.home-header {
  background-image: url(/img/home-bg-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: row;
  padding: 32px;
  align-items: flex-start;
  column-gap: 32px;
}
.home-header .text-container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 50%;
}
.home-header .text-container h1 {
  line-height: 42px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: bold;
}
.home-header .text-container p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: normal;
}
.home-header .text-container .cta {
  background-color: #ccd5ae;
  color: #282828;
  border-color: #c1cc9d;
}
.home-header .text-container .cta:hover {
  background-color: #c1cc9d;
}
.home-header .text-container .cta:focus {
  background-color: #b7c48c;
  color: #282828;
  border-color: #c1cc9d;
}

@media (min-width: 768px) {
  .home-header {
    padding: 150px 32px;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-text-box {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 32px;
  align-items: center;
  text-align: center;
}
.main-text-box > h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: bold;
}
.main-text-box > h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
}

.carousel-main {
  padding: 32px;
}

/*# sourceMappingURL=style.css.map */
