// HEADER

.a-section {
  display: flex;
  flex-direction: row;
  padding: 32px;
  align-items: center;
  column-gap: 32px;

  .text-container {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    width: 50%;

    h1 {
      line-height: 42px;
      @include typography-title;
    }
    p {
      @include typography-body;
    }
    .cta {
      $btn-bg-color: #ccd5ae;
      $btn-text-color: #282828;
      background-color: $btn-bg-color;
      color: $btn-text-color;
      border-color: darken($btn-bg-color, 5%);
      &:hover {
        background-color: darken($btn-bg-color, 5%);
      }
      &:focus {
        background-color: darken($btn-bg-color, 10%);
        color: $btn-text-color;
        border-color: darken($btn-bg-color, 5%);
      }
    }
    // how it works

    > ul.text-container-list {
      padding: 0;
      list-style: none;

      > li {
        h3 {
          @include typography-subtitleTwo;
        }
        p {
          @include typography-body;
        }
      }
    }
  }
  .img-container {
    width: 50%;
    img {
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 768px) {
  .a-section {
    flex-direction: column;
    row-gap: 1rem;
  }
}
