// A SECTION- General
.company-section {
  background-color: $color-green;
}
.a-section {
  display: flex;
  flex-direction: row;
  padding: 32px;
  align-items: center;
  column-gap: 32px;

  .text-container {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    width: 50%;

    h1 {
      line-height: 42px;
      @include typography-title;
    }
    p {
      @include typography-body;
    }
    .cta {
      @include cta-button;
    }

    // How it works- A section

    > ul.text-container-list {
      padding: 0;
      list-style: none;

      > li {
        h3 {
          @include typography-subtitleTwo;
        }
        p {
          @include typography-body;
        }
      }
    }
  }
  // Home- A section- company

  .img-container {
    width: 50%;

    img {
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 768px) {
  .a-section {
    flex-direction: column;
    row-gap: 1rem;
    .text-container {
      width: 100%;
    }
    .img-container {
      width: 100%;
    }
  }
}
