@import "typography";
@import "color";
@import "navbar.scss";
@import "a-section";
@import "b-section.scss";

@import "section-three";
@import "footer";
@import "menu.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ABOUT US */

.carousel {
  padding: 2rem;
}
