.section-two {
  padding: 32px;
  display: flex;
  align-items: flex-start;
  column-gap: 32px;
  background: gray;
}

.section-two > .text-container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 50%;
}
.section-two > .text-container > h2 {
  line-height: 42px;
}
.section-two > .text-container > p {
  line-height: 24px;
}
.section-two > .img-container {
  width: 50%;
}
.section-two > .img-container > img {
  width: 100%;
  height: auto;
}
